
/* dark mode */
.primary-bg {
    background-color: #BB86FC;
}

.primary-variant-bg {
    background-color: #3700B3;
}

.primary-secondary-bg {
    background-color: #03DAC6;
}

#root, .dark-bg {
    background-color: #121212 !important;
}

.surface-bg {
    background-color: #212121 !important;
}

.error-bg {
    background-color: #CF6679;
}

.on-primary-bg {
    background-color: #000000;
}

.on-secondary{
    background-color: #000000;
}

.on-background {
    background-color: #FFFFFF;
}

on-surface {
    background-color: #FFFFFF;
}

on-error {
    background-color: #000000;
}
