@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR');

body {
    font-family: 'Noto Sans KR', sans-serif !important;
    background-color: #c9c9c9;
    /*background-color: #f8f9fa;*/
}

.content-bg {
    background-color: #e8e8e8;
}

#appTitle {
    font-weight: bold;
}

.box-test {
    background-color: #f00;
}


.min-hg {
    min-height: 557px;
}


.page-title {
    font-weight: bold;
    /*font-size: 30px;*/
}

.page-box {

}

.page-wrap {
    padding: 20px 0 20px 0;
    /*background-color: #f00;*/
}

.pagination-wrap {
    float: right;
}

.pagination-sm-title {
    font-size: 0.8rem !important;
    color: #d4d4d4;
}

.content-wrap {
    padding: 15px;
    /*border: 3px #f00;*/
    /*background-color: #f00;*/
    background-color: #fff;
    border-radius: 10px;
}

/*.card-test {*/
/*    max-width: 25%;*/
/*}*/
/*상품 css*/
.title-wrap{
    display: flex;
}

.test-wrap{
    margin: auto;
}
