@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR');

body {
    font-family: 'Noto Sans KR', sans-serif !important;
    /*background-color: #fff !important;*/
}

/*.content-bg {*/
/*    background-color: #e8e8e8;*/
/*}*/

/*상품 css*/
.dp-none{
    display: none;
}

.light-ft{
    color: #fff;
}


div.dropdown-menu {
    left: -5em !important;
}

/* dark mode */
.dark-md-bg {
    background-color: #454d55
}

.dark-color {
    background-color: #121212;
}
