@import url("https://fonts.googleapis.com/css?family=Roboto:400,700");

#root {
    font-family: Roboto, Helvetica, Arial, sans-serif;
    text-align: center;
}

.text_start {
    text-align: start;
}

.display_none {
    display: none;
}

.none_border {
    border: none;
    cursor: pointer;
}

.login_wrap {
    position: fixed;
    top: 10em;
    left: 43em;
    width: 20em;
    height: 35em;
    padding: 2em;
    border-radius: 1em;
    background-color: #c9c9c9;
}

/* color style*/
.app-style-c9 {
    background-color: #c9c9c9;
}

.app-style-red {
    background-color: #f00;
}

.app-style-blue {
    background-color: #00f;
}

.app-slide-wrap {
    width: 70em;
    height: 47em;
    margin-top: 1.5em;
}

.app-chart-size {
    width: 10em;
    height: 10em;
    margin: auto;
    /*background-color: #c9c9c9;*/
}

.app-card-sm {
    width: 10em;
    height: 10em;
    background-color: #f0f;
}

.app-wrap-margin {
    margin-top: 3em;
}

.app-logout-button {
    background: transparent;
    border: none;
    cursor: pointer;
}

