.theme-light {

  .main-bg {
    background-color: #c9c9c9;
  }

  .surface-bg {
    background-color: #ffffff;
  }

  .main-ft {
    color: #424242 !important;
  }

  .main-ft:hover {
    color: #000000 !important;
  }

  .theme-icon {
    background-color: #121212;
    border-radius: 100em;
  }

}
